# комментарий Ч эта строка игнорируетс€
# не обрабатывать файлы, им€ которых заканчиваетс€ на .a
*.a
# Ќќ отслеживать файл lib.a, несмотр€ на то, что мы игнорируем все .a файлы с помощью предыдущего правила
!lib.a
# игнорировать все файлы в каталоге node_modules/
node_modules/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
doc/*.txt
